<!doctype html>
<link rel="stylesheet" href="../static/main1.css">
<title>Galleria000 - Log in</title>
<body>
<div class="header">
<h1>Galleria000</h1>
</div>
<div class="content">
{% if message != ""%}
<div class="error">
{{ message }}
</div>
{% endif %}
<p>
<form action="/" method="POST">
<h2>Log in:</h2>
<p>
<b>Username: </b>
<br>
<input type="text" name="username">
<p>

<b>Password:</b>
<br>
<input type="password" name="password">
<p>

<input type="submit" value="Log in">

</form>
<p>
<a href="/register">Register account</a>
</div>
</body>