<!doctype html>
<link rel="stylesheet" href="../static/main2.css">
<title>Galleria000 - Register</title>
<body>
<div class="header">
<h1>Galleria000</h1>
</div>
<div class="content">
<form action="/register" method="POST">


{% if session.username %}
You are already logged in.
<p>
<a href="/home">[Home]</a>
{% else %}
<h2>Register an account:</h2>
<br>
<div class="error">
{{ message }}
</div>
<br>
<b>Username:</b>
<br>
<input type="text" name="username">
<br>
Username must be 2-12 characters.
<p>
<b>Password:</b>
<br>
<input type="password" name="password">
<br>
Password must be 8-24 characters.
<p>
<b>Confirm password:</b>
<br> 
<input type="password" name="password2">
<p>
<input type="submit" value="Submit">
</form>

Already have an account?
<a href="/">Log in</a>
{% endif %}
</div>
</body>