{% extends "layout.html" %}

{% block title %}Search by title{% endblock %}

{% block content %}
<form action="/searchtitle" method="POST">
<h2>Search for an image.</h2>
<p>
<b>Title:</b>
<br>
<input type="text" name="title">
<p>
<b>Sort by:</b>
<br>
Newest first <input type="radio" name="sortby" value="DESC" checked>
<br>
Oldest first <input type="radio" name="sortby" value="ASC">
<p>

<input type="submit" value="Search">
</form>
<hr>

{{ message }}


{% for i in imgs %}
<div class="gallery">
<a href="/view/{{ i[0] }}"><img src="/show/{{ i[0] }}" height="200"></a> 
</div>
{% endfor %}

{% endblock %}