<title>Galleria000 - Upload</title>
<form action="/upload" method="POST" enctype="multipart/form-data">
Upload an image
<p>
Accepted file types: jpg/jpeg
<br>
Maximum dimensions allowed: 1000x1024
<p>
File:
<br>
<input type="file" name="file">
<br>
{{ message }}
<p>
Title:
<br>
<input type="text" name="title">
<p>
Description:
<br>
<textarea name="description" rows="3" cols="40"></textarea>
<p>
Medium:
<br>
<input type="checkbox" name="medium" value="1"> Traditional
<input type="checkbox" name="medium" value="2"> Digital
<input type="checkbox" name="medium" value="3"> Mixed Media
<input type="checkbox" name="medium" value="4"> Photography
<input type="checkbox" name="medium" value="5"> Drawing
<input type="checkbox" name="medium" value="6"> Painting
<input type="checkbox" name="medium" value="7"> Sculpture
<input type="checkbox" name="medium" value="8"> Other
<p>
<input type="submit" value="Submit">
</form>
