{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<a href="/show/{{ id }}"><img src="/show/{{ id }}" width="50%"></a>

<h2>{{ title }}</h2>
<p>

By: {{ artist }} #{{ artist_id }}

<form action="/favourite/{{ id }}" method="POST">
{% if favourite == "None" %}

<input type="submit" value="Favourite">
{% else %}

<input type="submit" value="Remove from favourites">
{% endif %}
</form>

<p>
{% if artist_id == session.user_id %}
<form action="/deleteimage/{{ id }}" method="POST">
<input type="submit" value="Delete this image">
</form>
{% endif %}


<p>
<b>Description:</b>
<p>
{{ description }}

<p>
<b>Mediums:</b>
<br>
{% for m in mediums %}
{{ m[0] }}
<br>
{% endfor %}

<p>
<hr>
<b>Comment:</b>
<form action="/view/{{ id }}" method="POST">
<textarea name="comment" rows="3" cols="80"></textarea>
<input type="submit" value="Submit">
<br>
{{ message }}
<hr>
</form>
<p>
{% for i in range(count) %}
<b>{{ comments_un[i][0] }} says:</b>
<p>
{{ comments_c[i][0] }}
<p>
{% if comments_un[i][0] == session.username %}
<form action="/deletecomment/{{ comments_id[i][0] }}" method="POST">
<input type="submit" value="Delete Comment">
</form>
{% endif %}
<hr>
{% endfor %}<title> {{ title }} </title>

{% endblock %}
