<title> {{ title }} </title>

<a href="/home">[Home]</a>

<hr>


{{ title }}

<p>

<a href="/show/{{ id }}"><img src="/show/{{ id }}" width="50%"></a>

<p>
By: {{ artist }} #{{ artist_id }}
<a href="/favourite/{{ id }}">
{% if favourite == "None" %}
Add to favourites
{% else %}
Delete from favourites
{% endif %}
</a>
<p>
Description:
<p>
{{ description }}

<p>
Mediums:
<br>
{% for m in mediums %}
{{ m[0] }}
<br>
{% endfor %}

<p>
<hr>
Comment:
<form action="/view/{{ id }}" method="POST">
<textarea name="comment" rows="3" cols="80"></textarea>
<input type="submit" value="Submit">
<br>
{{ message }}
<hr>
</form>
<p>
{% for i in range(count) %}
{{ comments_un[i][0] }} says:
<p>
{{ comments_c[i][0] }}
<p>
{% if comments_un[i][0] == session.username %}
<a href="/deletecomment/{{ comments_id[i][0] }}">[Delete Comment]</a>
{% endif %}
<hr>
{% endfor %}
