{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="bns">
<form action="/favourite/{{ id }}" method="POST">
{% if favourite == "None" %}

<input type="submit" value="Favourite">
{% else %}

<input type="submit" value="Remove from favourites">
{% endif %}
</form>

<p>
{% if user_id == session.user_id %}
<form action="/deleteimage/{{ id }}" method="POST">
<input type="submit" value="Delete this image">
</form>
{% endif %}
</div>

<a href="/show/{{ id }}"><img src="/show/{{ id }}" width="50%"></a>


<h2>{{ title }}</h2>
<p>

By: {{ user }} #{{ user_id }}


<p>
<b>Description:</b>
<p>
{{ description }}

<p>
<b>Mediums:</b>
<br>
{% for m in mediums %}
{{ m[0] }}
<br>
{% endfor %}

<p>
<hr>
{% if message != ""%}
<div class="error">
{{ message }}
</div>
{% endif %}
<b>Comment:</b>
<form action="/view/{{ id }}" method="POST">
<textarea name="comment" rows="3" cols="80"></textarea>
<input type="submit" value="Submit">
</form>
<p>
{% for i in range(count) %}

<div class="comment">
<b>{{ comments_un[i][0] }} says:</b>
<p>
{{ comments_c[i][0] }}
<p>
{% if comments_un[i][0] == session.username %}
<form action="/deletecomment/{{ comments_id[i][0] }}" method="POST">
<input id="comment-button" type="submit" value="Delete Comment">
{% endif %}

</form>
</div>


{% endfor %}<title> {{ title }} </title>

{% endblock %}
